# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
build/
Build/
build/
x64/
x86/

# Other
*.db
*.sqlite
*_i.c
*_p.c
*.ncb
*.pch
*.ilk
*.pdb
*.exp
*.lib
*.dll
*.obj
*.idb
*.tlb
*.manifest
*.res
*.pch.dep
*.aps